.site__header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color__background-header;
  color: $color__font-header;

  &__titre {
    display: flex;
    align-items: center;
  }


  @media screen and (min-width : $largeur__media--tablette) {
    flex-direction: row;
    padding-left: 1rem;
  }

  @media screen and (min-width : $largeur__media--desktop) {
    flex-direction: row;
    padding-left: 1rem;
  }

  @mixin titre {
    font-size: clamp(2rem, 2vw, 4rem);
    font-family: $font__titre;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .header__titre {
    @include titre;
    text-shadow: -4px 4px #222426, 4px -4px #CF59D3;
  }

  .header__description {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: $font__main;
    text-transform: uppercase;
    color: #222426;
    text-align: center;
    padding-left: 2rem;
  }
}

.util {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 2rem;

  .util__lien {
    display: flex;
    justify-content: space-around;
    color: #222426;
  }
}